extend layout
block content
  include navbar-user.jade
  .container
    .row
      .col-sm-12
        h1.dashboardtitle Survey Dashboard
        a.btn.btn-primary(href="surveys/create") Create Survey
        .list-group
          for survey in surveys
            section.list-group-item(href='#')
              h4.list-group-item-heading #{survey.title}
              p.list-group-item-text #{survey.description}
              div.btn-group.btn-group-sm(role='group')
                a.btn.btn-default(href="surveys/#{survey.id}/results") View Results
                a.btn.btn-default(href="surveys/#{survey.id}/guest") View as Guest
              div.btn-group.btn-group-sm(role='group')
                a.btn.btn-default(href="surveys/#{survey.id}") Edit
                a.btn.btn-default.delete-survey(data-id="#{survey.id}") Delete




