extend layout
block content
  include navbar-user.jade
  .container
    .row
      .col-sm-12
        h2(id="#{survey.id}") Edit: #{survey.title}
        .form-group
          label(for="surveytitle") Survey Title
          input#survey-title.form-control(name="survey-title", type="text", value=survey.title)
        .form-group
          label(for="surveydescription") Survey Description
          input#survey-description.form-control(name="description", type="text", value=survey.description)
        h3 Questions
        h5 <strong>Note: <em>altering a question will clear all previously recorded guest responses from Database.</em></strong>
        .list-group#survey-questions
          for question in survey.questions
            article(class="list-group-item")
              h4 #{question.title}
              h5 #{question.helpText}
              div.btn-group.btn-group-sm(role="group")
                button(class="btn btn-default edit-question", data-id="#{question.id}") Edit
                button(class="btn btn btn-default delete-question", data-id="#{question.id}") Delete
              include edit-question
      a.btn.btn-primary(type="submit", class="edit-survey-submit", href="") Done


