.edit-question-form(data-question="#{question.id}")
  .form-group
    h4 Title
    input(name="title", id="edit-question-title", value=question.title, class="form-control")
  .form-group
    h4 Help Text
    input(name="helpText", id="edit-question-helptext" value=question.helpText, class="form-control")
  .form-group
    h4 Question Type:
    select.edit-type-select.form-control
      if question.type == "Scale"
        option Scale
        option Multiple Choice
        option Text
      if question.type == "Multiple Choice"
        option Multiple Choice
        option Scale
        option Text
      if question.type == "Text"
        option Text
        option Scale
        option Multiple Choice
  if question.type == 'Multiple Choice'
    .multiple-choice
      p Guest will have five options to choose from.  Customize those options by changing the fields below:
      for choice in question.choices
        .input-group.input-group-sm
          input.form-control(type="text", class="multiple-choice-option", value=choice)
    include scale
    include text
  else
    include multiple-choice
    include scale
    include text
  div.btn-group.btn-group-sm.edit-question-save-cancel-btns(role="group")
    button.btn.btn-primary.btn-sm.edit-question-save(type="submit", data-question-id="#{question.id}") Save
    button.btn.btn-primary.btn-sm.edit-question-cancel(type="cancel") Cancel
