extend layout
block content
  include navbar-user.jade
  .container
    .row
      .col-sm-12
        h2#survey.id #{survey.title}
        form(role="form")
          .form-group
          label(for="surveytitle") Survey Title
          input#survey-title.form-control(name="survey-title", type="text", value=survey.title)
          .form-group
          label(for="surveydescription") Survey Description
          input#survey-description.form-control(name="description", type="text", value=survey.description)
          h3 Questions
          .list-group#survey-questions
            for question in survey.questions
              article(class="list-group-item")
                h4 #{question.title}
                form(role="form", method="post", action="/surveys/#{survey.id}/questions/#{question.id}?_method=put")
                  .form-group
                    label(for="title") Title
                    input(name="title" value=question.title)
                  .form-group
                    label(for="help-text") Help Text
                    input(name="help-text" value=question.helpText)
                  .form-group
                    label(for="question-type") Change Type from #{question.type} to
                    .btn-group.btn-group-xs(role="group")
                      if question.type == 'Multiple Choice'
                        button#edit-survey-scale.btn.btn-default(type="button") Scale
                        button#edit-survey-text.btn.btn-default(type="button") Text
                      else if question.type == 'Scale'
                        button#edit-survey-multchoice.btn.btn-default(type="button") Multiple Choice
                        button#edit-survey-text.btn.btn-default(type="button") Text
                      else if question.type == 'Text'
                        button#edit-survey-multchoice.btn.btn-default(type="button") Multiple Choice
                        button#edit-survey-scale.btn.btn-default(type="button") Scale
                  if question.type == 'Multiple Choice'
                    for choice in question.choices
                      .input-group.input-group-sm
                        span.input-group-addon
                          input(type="radio", value=choice)

                  button.btn.btn-primary.btn-sm(type="submit") Update Quesion
                div.btn-group.btn-group-sm(role="group")
                  button(class="btn btn-default", data-id="#{question.id}", data-type="#{question.type}") Edit
                  button.btn.btn-default Delete
        button.btn.btn-primary(type="submit") Update Survey


