extend layout
block content
  include navbar-user.jade
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h2(id="#{survey.id}", class="edit-survey-header") Edit Survey
        .form-group.form-group-lg
          h3 Title
          input#survey-title.form-control(name="survey-title", type="text", value=survey.title)
        .form-group.form-group-lg
          h3 Description
          input#survey-description.form-control(name="description", type="text", value=survey.description)
        h3 Questions
        .notesforquestions <strong>Note: <em>altering a question will clear all previously recorded guest responses from Database.</em></strong>
        .list-group#survey-questions
          for question in survey.questions
            article(class="list-group-item")
              h4 #{question.title}
              h5 #{question.helpText}
              div.btn-group.btn-group-sm(role="group")
                button(class="btn btn-default edit-question", data-id="#{question.id}") Edit
                button(class="btn btn btn-default delete-question", data-id="#{question.id}") Delete
              include edit-question
        .done-editing-survey-btn
          a.btn.btn-primary.btn-lg(class="edit-survey-submit", href="/surveys") Done


