extend layout
block content
  include navbar-home

  .container
    .row
      .col-sm-12
        div.radio
          input(type="radio", name="optionsRadios", id="optionsRadios1")
          | Test Radio Button
        h1 #{survey.title}
        h4 #{survey.description}
        .list-group#survey-questions
          if (survey.questions.length > 0 )
            for question in survey.questions
              article(class="list-group-item view-survey-question")
                h4(data-type="#{question.type}", id="question-title") #{question.title}
                h5 <strong><em>#{question.helpText}</em></strong>
                  if question.type == "Scale"
                      include take-scale
                  if question.type == "Text"
                      include take-text
                  if question.type == "Multiple Choice"
                    for choice in question.choices
                      include take-multiple-choice
                if (survey.questions.indexOf(question) == survey.questions.length - 1)
                  a.btn.btn-primary(href="", class="submit-survey-guest") Submit Survey
                else
                  a.btn.btn-primary(href="", class="next-question") Next
            article(class="list-group-item view-survey-question")
              include thank-you
