extend layout
block content
  include navbar-user
  .container
    .row
      .col-sm-12
        h3 #{survey.title}
        h4 #{survey.description}
        .list-group#survey-questions
          for question in survey.questions
            article(class="list-group-item")
              h4 #{question.title}
              h5 #{question.helpText}
              for response in question.responses
                li #{response}
